@import '~bootstrap/scss/bootstrap.scss';

// variabili
$colore_header: #272727;
$colore_sfondo: #393939;
$colore_card: #525252;
$colore_titolo: #c6c6c6;

body {
    background-color: $colore_sfondo;
}


.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: $colore_header;
    img {
        height: 100px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
    div.cd {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-basis: 200px;
        padding: 20px;
        margin: 10px 20px;
        height: 360px;
        width: 200px;
        background: $colore_card;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px $colore_header;
        img {
            max-width: 160px;
        }
        h3 {
            margin: 20px 0;
            color: white;
            font-size: 22px;
            text-transform: uppercase;
        }
        span.author {
            color: $colore_titolo;
            font-size: 20px;
        }
        span.year {
            color: $colore_titolo;
        }
    }
}
